/* 
Theme Name: brown_rabit
Author: Fernando Ceres
Version: 1.0
*/



/* general sttings */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: -webkit-gradient(linear, left top, right top, from(#012f5a), color-stop(#fff), to(#012f5a));
    background-image: -webkit-linear-gradient(left, #012f5a, #fff, #012f5a);
    background-image: -o-linear-gradient(left, #012f5a, #fff, #012f5a);
    background-image: linear-gradient(to right, #012f5a, #fff, #012f5a);
    line-height: 1.3;
    font-size: 1.3rem;
}

ol,
ul {
    list-style: none;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.wrapp {
    width: 960px;
    margin: 0 auto 10rem auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table
}

/* header */
.header {
    display: grid;
    grid-template-columns: 44% 56%;
    padding: 1.8rem 3rem 3rem 2rem;
    background: rgba(17, 17, 17, 1);
    background: -webkit-gradient(left bottom, right top, color-stop(41%, rgba(17, 17, 17, 1)), color-stop(72%, rgba(17, 17, 17, 0.96)), color-stop(100%, rgba(17, 17, 17, 0.92)));
    background: -webkit-linear-gradient(45deg, rgba(17, 17, 17, 1) 41%, rgba(17, 17, 17, 0.96) 72%, rgba(17, 17, 17, 0.92) 100%);
    background: -o-linear-gradient(45deg, rgba(17, 17, 17, 1) 41%, rgba(17, 17, 17, 0.96) 72%, rgba(17, 17, 17, 0.92) 100%);
    background: linear-gradient(45deg, rgba(17, 17, 17, 1) 41%, rgba(17, 17, 17, 0.96) 72%, rgba(17, 17, 17, 0.92) 100%);

}


.logo {
    width: 100%;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.search-bar-container {
    width: 12.3rem;
    height: 1.9rem;
    margin-right: 0;
    margin-left: auto;
    background: #fff;
    border-radius: 5rem;
    border: none;
    padding-left: 0.3rem;
    align-self: start;

}

.search-icon {
    font-size: 0.9rem;
}

.search-bar-input {
    width: 8rem;
    border: none;
    border-left: 1px solid #C9C9C9;
    background: transparent;
    font-size: 0.9rem;
}

.search-result {
    background: yellow;
}

#searchsubmit {
    display: none;
}

.nav-links-container {
    text-align: right;
    align-self: end;
    padding-bottom: 0.5rem;
}

.nav-link {
    font-size: 1.1rem;
    margin-right: 1.7rem;
    text-transform: uppercase;
    color: #ffffff;
}

.nav-link:last-child {
    margin-right: 0;
}

.hero {
    background-color: #111111;
}

.slider-container {
    position: relative;
    height: 36rem;
}

.slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-position: center bottom;
    -webkit-animation: fade-in 2.5s forwards;
    animation: fade-in 2.5s forwards;
    overflow: hidden;
    display: none;
}

.slide-item.active {
    display: block;
}

.hero-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 15.2rem;
    padding: 4rem 3rem 5rem 2rem;

}

.quote-text {
    font-size: 2.9rem;
    color: #9a929a;
    width: 100%;
}

.social-links {
    text-align: right;
}

.social-media-link i {
    background: #303234;
    color: #BBBAB8;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 0.5rem;
}

.fa-facebook-f {
    width: 4rem;
    text-align: center;
}

.social-links:last-child {
    margin-right: 0;
}

.main-content {
    position: relative;
    background: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 74.5% 25.5%;

}

.articles-conteiner:first-child {
    padding-top: 3.25rem;
    margin-left: 3.25rem;
}

.article {
    margin-bottom: 3.25rem;
    padding-bottom: 3.25rem;
    border-bottom: .2rem solid #f0f0f0;
    width: 85%;
}

.article-image {
    float: left;
    height: 15rem;
    width: 15rem;
    margin-right: 3rem;
    border: .5rem solid #e5e5e5;
    margin-bottom: 1rem;

}

.article-headline {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.article-date {
    margin-bottom: 1rem;
    color: #40a4df;
}

.article-text {
    margin: 1rem 0 2rem 0;
    height: 5rem;
    overflow: hidden;
}

.article-link {
    width: 14rem;
    height: 2.6rem;
    background-color: #5196b9;
    color: #e2e1e1;
    border: none;
    border-radius: .3rem;
    font-size: 1.2rem;
}


.articles-pagination {
    margin-top: 4rem;
}

.articles-pagination a,
.label-pages {
    padding: 0.35rem 0.63rem;
    margin-right: .5rem;
    background-color: #f1f1f1;
    cursor: pointer;
    color: #636060;
}

.current,
.articles-pagination a:hover {
    padding: 0.35rem 0.63rem;
    margin-right: .5rem;
    background: #C1C1C1;
    color: #fff;
}

.extra-information {
    width: 100%;
    padding: 3.25rem 0 0 2.5rem;
    background: rgba(238, 238, 238, 1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(94%, rgba(254, 254, 254, 0.98)), color-stop(100%, rgba(255, 255, 255, 0.95)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(254, 254, 254, 0.98) 94%, rgba(255, 255, 255, 0.95) 100%);
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(254, 254, 254, 0.98) 94%, rgba(255, 255, 255, 0.95) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 1)), color-stop(94%, rgba(254, 254, 254, 0.98)), to(rgba(255, 255, 255, 0.95)));
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(254, 254, 254, 0.98) 94%, rgba(255, 255, 255, 0.95) 100%);
}

.extra-information > div {
    margin-bottom: 3.25em;
}

.sign-up-link {
    display: block;
    margin-top: 2rem;
}

.sponsors {
    background: #fff;
    padding: 3.25em;
}

.sponsors-container {
    position: relative;
    width: 100%;
    height: auto;
}

.sponsors-container img {
    width: 100%;
}

footer {

    display: grid;

    grid-template-columns: 1fr 0.8fr 1fr;
    background: rgba(17, 17, 17, 1);
    color: #fff;
    padding: 3.25rem;
    padding-bottom: 5rem;
    grid-column-gap: 4rem;
}

.footer-highlight-quote {
    padding: 2rem 0;
}

.flickr-img {
    width: 100%;
}

.footer-contact-details-wrapper {
    padding-bottom: 2rem;
}


@media only screen and (max-width: 980px) {

    html {
        font-size: 1vw;
    }

    body {
        margin: 0 1rem 10rem 1rem;
    }

    .wrapp {
        width: 100%;
        margin: 0;
    }

}

@media only screen and (max-width: 640px) {

    .article-headline {
        font-size: 17px;
    }

    .article-date {
        font-size: 8px;
    }

    .article p {
        font-size: 8px;
    }

}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media all and (-ms-high-contrast:none) {
    .header {
        font-size: 0;
    }

    .logo-container {
        display: inline-block;
        vertical-align: middle;
        width: 44%;
    }

    .nav-container {
        display: inline-block;
        vertical-align: middle;
        width: 56%;
    }

    .logo {
        width: 100%;
    }

    .search-bar-container {
        margin-bottom: 2rem;
    }
    
    

    .quote-text {
        width: 65%;
        float: left;
    }

    .social-links {
        width: 35%;
        float: left;
    }


    .articles-conteiner {
        display: block;
        width: calc(96.6rem - 24.7rem);
        height: 100%;
    }

    .extra-information {
        width: 24.7rem;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    .about-footer {
        float: left;
        width: 33%;
    }

    .flickr-stream {
        float: left;
        width: 33%;
        padding: 0 4rem;
    }
}
